{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for driver in drivers %}
        <tr>
          <td><a href="{% url 'driver-detail' driver.pk %}">{{ driver.username }}</a></td>
          <td>{{ driver.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "includes/pagination.html" %}
{% endblock %}
